<div class=""></div>
  <div class="">
    <div class="">
      {{#if user.photoUrl}}
        <img src="{{user.photoUrl}}" alt="">
      {{else}}
        <img src="images/defaultProfilePicture.jpg" alt="">
      {{/if}}
      <form action="/user/avatar-upload" method="POST" enctype="multipart/form-data">
        <label for="picture-input"> Picture </label>
        <input required type="file" id="picture-input" name="photo">
        <button> Save </button> 
      </form>

      <form action="" method="POST">
        <a href="/user/edit"> Edit profile </a>
      </form>
    </div>

    <div class="user-data">
      <h1>{{user.name}}</h1>
      <p>Email: {{user.email}}</p>
      <div class="">
        
        <div class="">  
          <form action="" method="POST">
             
            <a href=""><i class=""></i>  </a>
          </form>
        </div>
      </div>
    </div>

  </div>  
</div>