<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">


  </head>
  <body>
    <div class="menu">
      <nav>
        <a href="/"> <img href="/auth/login" id="logo" src="/images/logo.png" > </a>  
        {{#if user}}
          <a href="/profile/user"> My Profile </a>
          <a href="/events/list">See Events</a>
          <a href="/events/create"> Create Event </a>
          <form action="/auth/logout" method="POST">
            <button> Sign Out </button>
          </form>
        {{else}}
        
          <a href="/profile/user"> My Profile </a>
          <a href="/events/list"> See Events </a>
          <a href="/auth/login"> Sign In </a>
          {{!-- fix signin --}}
          <a href="/auth/signup"> Sign Up </a> 
          <a href="/auth/logout"> Log Out </a>
        {{/if}}          
      </nav>
    </div>
    <div class="main">
      {{{body}}}
    </div>

   {{!-- should go here any script? --}}
  </body>
</html>
