<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  {{!-- nav bar --}}
  <nav>
    <ul>
      <li> <a href=""> Log In </a></li>
      <li> <a href=""> Sign In </a></li>
      <li> <a href=""> Events </a></li>
    </ul>
  </nav>
  {{!-- header --}}
  <header>
    <h1><img class="imgLayout" src="images/sunshineWllp.jpg" alt=""> Sunshine </h1>
  </header>
  <body>
    {{{body}}}
  </body>
</html>
