@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

/* @media screen and (max-width: 800px) { */

* {
  font-family: "Roboto Mono", monospace;
  background-color: transparent;
  color: white;
  text-decoration: none;
}

body {
  background-image: url("/images/wallp.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  width: auto;
  height: auto;
  /* background-repeat: no-repeat; */
  text-align: center;
}

nav {
  margin-right: 80px;
  font-size: 40px;
  display: flex;
  flex-wrap: nowrap;
}

.form {
  margin-left: 10px;
  margin-top: 150px;
  /* position: absolute;  */
  display: flex;
  align-items: center;
  position: relative;
  font-size: 20px;
}

a {
  text-shadow: 3px 3px rgb(221, 155, 31);
  list-style: none;
  padding: 0 60px;
}

a:hover {
  color: rgb(221, 155, 31);
  opacity: 0.7;
  text-shadow: 3px 3px black;
}

#logo {
  /* margin-left: 0; */
  width: 80px;
  height: auto;
}

/* button label {
  text-shadow: 1px 1px black;
  border-radius: 3px;
  border: 2px solid black;
} */

h3 {
  position: relative;
  margin-top: 150px;
  text-align: center;
  text-shadow: black;
  /* border-style: solid;
  border: 2px solid black; */
}

.user-media {
  display: flex;
  /* text-align: center;
  align-items: center; */
  text-shadow: 1px 1px black;
}

.allEvents {
  /* background-image: url("/images/sunshineWllp.jpg");
  background-repeat: cover;
  background-size: 100%; */
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

/* .container {
} */

#list {
  text-shadow: 1px 1px black;
  background-color: coral;
  background-image: url(/images/sunshineWllp.jpg);
  background-size: 100% 100%;
  /* width: 100%;
  height: auto; */
  /* border: ; */
  border: 5px transparent #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  /* margin: 40px 2% 0 2%; */
  margin: 40px 20px;
  padding: 20px;
  width: 30%;
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
/*
responsive:
@media screen and(max-width: 600px) {
  body {
    background-color: white;
  }
}

@media screen and (max-width: 900px) {
  body {
    background-color: blue;
  }
}
*/
