<form action='/events/create' method='POST'>

  <label for=''>Name</label>
  <input type='text' name='name'>

  <label for=''>Description</label>
  <input type='text' name='description'>

  <label for=''>Location</label>
  <input type='text' name='location'>

  {{!--

  <button></button>  to click and upload the picture 

  <label for=''>Picture</label>
  <input type='text' name='picture'>

  --}}

{{!-- no need to fetch the user email, can hardcoded it --}}
  <label for=''>Contact email</label>
  <input type='text' name='email'>

  <button type='submit'>Submit</button>
</form>